.card-date {
  width: 278px;
  height: 223px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

h1{
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 79px;
  
  color: #38BDF8;
}

p{
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;
  
  color: #FFFFFF;
}
