.card-img{
    width: 314px;
    height: 464px;
    border-radius: 10px;
}


.card--card-image{
    width: 314.48px;
    height: 464px;
    background: #1E293B;
    border-radius: 10px;
    filter: drop-shadow(8px 8px 0px rgba(49, 68, 98, 0.25));
}
