
input {
  padding: 0px 1rem;
  width: 48.7rem;
  height: 5.4rem;
  background: #1e293b;
  border-radius: 1rem;
  border: none;
  color: #fff;
}

.divSearchBar{
  padding-left: 1rem;
}

input:focus {
  outline: none;
}

@media screen and (max-width: 930px){
  input {
    width: 28.0rem;
    height: 5.4rem;
  }
}